boto3
botocore
fastapi
google_api_python_client
google_auth_oauthlib
ipython
langchain
langchain_community
langchain_core
langchain_google_genai
langchain_google_vertexai
langgraph
moviepy
pandas
protobuf
pydantic
python-dotenv
Requests
semantic_text_splitter
SpeechRecognition
streamlit
typing_extensions
streamlit-aggrid
pillow